# gradle / build
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IDE
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

.nb-gradle/
nbbuild/
dist/
nbdist/
nbproject/private/

.vscode/

# ==== Spring configs ====
#   src/main/resources/application.yml
#   src/main/resources/application-dev.yml
#   src/test/resources/application.yml
# личные локальные — игнорим:
src/main/resources/application-local.yml

# ==== Secrets / env ====
.env
*.pem
src/main/resources/keys/*
!src/main/resources/keys/public.pem   

# runtime data
data/
uploads/
logs/
